@tailwind base;
@tailwind components;
@tailwind utilities;

main {
	margin-left: 1rem;
	margin-right: 1rem;
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
}

nav a + a::before {
	content: "|";
	padding: 0 0.3rem;
}
